SUBSYSTEM=="usb", ATTR{idVendor}=="0ff8", ATTR{idProduct}=="00ff", MODE="0666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTR{idVendor}=="0ff8", ATTR{idProduct}=="20fc", MODE="0666", GROUP="plugdev"
